<script>
    import Navbar from '../components/Navbar.svelte';
    import SidebarL from '../components/Sidebar_L.svelte';
    import SidebarR from '../components/Sidebar_R.svelte';
    import './styles.css'
</script>

<Navbar/>
<SidebarL />
<slot />
<SidebarR />