@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');
:root{
--site-inverse-text:#000800;
--site-background:#101110;
--site-medium: #2A2D2A;
--site-inverse-background: #949e94;
--site-accent:#0F0;
--site-text:#FCFFFC;
--gradient: linear-gradient(var(--site-light), #202320);
--font: 'Oxygen', sans-serif;
}
@media(prefers-color-scheme:light) {
    :root{
        --site-background: #FBFFFB;
        --site-inverse-background: #BBCBBB;
        --site-medium: #8D988D;
        --site-text: #000800;
        --site-inverse-text: var(--site-text);
    }
}
:root {
    background-color: var(--site-background);
    color: var(--site-text);
    font-family: var(--font);
}
