<script lang="ts">
    import type {User} from '$lib/user'
    const links: string[][] = [['Home', '/'], ['Articles','/articles']]
    var user:User | undefined = undefined
</script>

<div class="navbar">
    <ul class="navigation">
        {#each links as link} 
            <li><a class="navlink" href="{link[1]}">{link[0]}</a></li>
        {/each}
        {#if user === undefined}
            <!--User-block-->
        {:else} 
            <!--logged-in-user-block-->
        {/if}
    </ul>
</div>