<div class="login">
    <form method="post">
        <label>
            Username
            <input type="text" name="username"/>
        </label>
        <label>
            Password
            <input type="password" name="password"/>
        </label>
        <button>Login</button>
    </form>    
</div>